In [38]:
a = 8, 12, 16, 24, 4

sum(a)
64/5

TypeError: 'tuple' object is not callable

In [ ]:
 a = 9+12+17+20+13+10+6+5+3
 a /2

47.5

In [ ]:
10, 10, 10, 10, 11, 11, 12, 13, 14
15, 15, 15, 16, 16, 16, 16, 16, 17, 18, 19, 19
20, 20, 20, 21, 21, 21, 21, 21, 22, 22, 22, 23, 23, 23, 24, 24, 24
26, 26, 26, 26, 26, 26, 26, 27, 27, 27, 27, 29, 29, 29, 29, 29, 29, 29, 29, 29
30, 30, 30, 30, 30, 31, 31, 32, 32, 33, 33, 34, 34
35, 35, 35, 37, 37, 37, 37, 39, 39, 39
40, 40, 43, 43, 44, 44
46, 46, 46, 47, 49
52, 53, 54

TypeError: 'tuple' object is not callable

In [1]:
import numpy as np

In [2]:
onedim_arr = np.array ([1,2,3])